* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

li {
    list-style: none;
}

ul {
    border-width: 3px 0 0 3px;
}

ul, li {
    border-color: #ffffff;
    border-style: solid;
}

.container {
    background-color: #3399CC;
    color: #ffffff;
    padding: 20px 0;
    font-size: 0;
    text-align: center;
    height: 100%;
}

.container__wrapper {
    max-width: calc(100vw - 30%);
    margin: 0 auto;
}

.container__title {
    font-size: 30px;
    margin-bottom: 100px;
}

.container__content {
    margin-bottom: 30px;
}

.container__bottom-text {
    font-size: 20px;
    text-align: left;
}

.city-list__item {
    display: inline-block;
    font-size: 25px;
    height: 95px;
    padding: 15px 0;
    border-width: 0 3px 3px 0;
}

.city-list:hover .city-list__item:not(:hover) {
    opacity: .3;
}

.city-list__item > span {
    display: block;
}

.city-list__item_25 {
    width: 25%;
}

.city-list__item_50 {
    width: 50%;
}

.city-list__item_100 {
    width: 100%;
}

.city-list__item_bg_curious-Blue {
    background-color: #3399CC;
}

.city-list__item_bg-turquoise {
    background-color: #33CCCC;
}

.city-list__item_bg-strikemaster {
    background-color: #996699;
}

.city-list__item_bg-crail {
    background-color: #C24747;
}

.city-list__item_bg-terracotta {
    background-color: #E2674A;
}

.city-list__item_bg-golden-tainoi {
    background-color: #FFCC66;
}

.city-list__item_bg-de-york {
    background-color: #99CC99;
}

.city-list__item_bg-patina {
    background-color: #669999;
}

.city-list__item_bg-hopbush {
    background-color: #CC6699;
}

.city-list__item_bg-sea-green {
    background-color: #339966;
}

.city-list__item_bg-kimberly {
    background-color: #666699;
}

